#words {
  padding: 3rem 1rem;
  max-width: 50rem;
  margin: 0 auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .btn-wrap {
    display: flex;
    gap: 0.25rem;
  }

  .list-day {
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;
  }

  .table-word {
    margin-top: 0.5rem;

    tr {
      &.off {
        background-color: #eee;

        td {
          color: #999;
        }
      }
    }

    td {
      &.td-checkbox {
        width: 10%;
      }

      &.eng {
        width: 30%;
      }

      &.btn-wrap {
        display: table-cell;
        width: 30%;

        div:first-child {
          display: flex;
          justify-content: center;
          gap: 0.25rem;
          flex-wrap: wrap;
        }

        .btn-mean {
          min-width: 3.875rem;
        }
      }
    }
  }

  .btn-delete {
    background-color: rgb(207, 18, 18);
  }
}
